/**
 * Css de la page de connexion
 */

#createheroZone {
    margin: 140 auto;
    height: 140px;
    width: 300px;
    text-align: center;
}

#description {
	color: blue;
    font-size: 1em;
    text-align: center;
}

#btnCreate {
    margin-left: 0%;
}

#radio1 {
    margin-left: 0px;
}

#radio2 {
    margin-left: 30px;
}

.carract {
    padding: 15px 0px;
    font-size: 16px;
    border-bottom: 1px dotted #e1e1e1;
}

.sliderValue {
    font-size: 20px;
}