.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.navbar {
    padding:15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}

.navbar-pad-original {
	padding:0px;
}

#hud {
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 620px;
	height: 110px;
	display: block;
}

#hpBar, #xpBar, #goldBar, #energyBar {
	width: 200px;
	color: white;
}

#lvl {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #FF8000;
	text-align: center;
	padding-right: 5%;
	margin-top: 25px;
	font-size: 3.5em;
}

.hudElement {
	margin-left: 40px;
}

#createHeroZone {
	margin-left: -2%;
	width: 200px;
}